.img {
    display: flex;
    margin-left: 70px;
    width: 90%;
    height: 500px;
}

.name {
    text-align: center;
    font-family: "Old Standard TT", sans-serif;
}

.icon_place {
    display: flex;
    margin-left: 450px;
    margin-right: 10px;
    height: 20px;
}

.place {
    display: flex;
    align-items: center;
}

.review{
    margin-left: 50px;
    margin-right: 50px;
}

.hotel_title {
    margin-top: 20px;
    /* background-color: rgb(247, 230, 155); */
}

.hotel_convenient {
    /* margin-bottom: 30px; */
    /* background-color: aqua; */
}

.hotel_roomtype {
    /* margin-bottom: 30px; */
    /* background-color: rgb(245, 178, 225); */
}
 
.hotel_comment {
    margin-bottom: 30px;
    /* background-color: rgb(149, 129, 218); */
}

.convenient_container {
    margin-left: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
}

.comment_container {
    margin-left: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
}

.convenient {
    margin-left: 70px;
    margin-bottom: 10px;
    flex-basis: 15%;
}

.roomtype {
    text-align: center;
}

.comment_form {
    padding: 15px 15px 30px;
    display: block;
    border-radius: solid 2px;
    border-style: outset;
    margin: 20px;
    height: 250px;
    background-color: rgb(196, 225, 233);
    /* overflow: scroll;
    text-overflow: ellipsis; */
}

.room_type_form {
    padding: 15px 15px 30px;
    display: block;
    border-radius: solid 2px;
    border-style: outset;
    margin: 20px;
    height: 70px;
}

.comment {
    max-height: 180px;
    overflow: auto;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.choose_hotel {
    position: fixed;
    right: 20px;
    top: 20px;
}

.modal {
    position: absolute;
    padding-top: 100px;
}

.hotel_container {
    display: flex;
    border: 1px solid white;
    height: 200px;
    margin: 20px;
    position: relative;
    background-color: rgb(247, 230, 155);
}

.hotel_name {
    margin: 10px 0 10px 40px;
    font-size: 24px;
}

.icon {
    margin-left: 40px;
    margin-right: 10px;
    height: 20px;
}

.hotel_place {
    display: flex;
    margin-right: 50px;
}

.hotel_img {
    display: flex;
    height: 198px;
    width: 500px;
}

.title {
    background-color: rgb(247, 230, 155);
    width: 600px;
}

.other_data {
    margin: 20px 0 20px 35px;
}

.pull_right {
    float: right !important;
}

.form_control {
    padding-bottom: 20px;
}

.webName {
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
    color: blue;
    border-bottom: ridge;
}

#style-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-scroll::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar-thumb
{
	background-color: #555;
	border-radius: 10px;
}