.header-background {
    height: 100px;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(233, 93, 74);
    color: white;
    text-align: center;
    height: 50px;
}

.footer-text {
    position: absolute;
    left: 5px;
    color: #ffffff;
    word-wrap: break-word;
    max-width: 250px;
}

.footer-time {
    position: absolute;
    right: 5px;
    color: #ffffff;
}

.slidebar {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(240, 243, 229);
}

.menu-action {
    padding-left: 200px;
    position: fixed;
    top: 40px;
    width: 100%;
    text-align: center;
    border-top: outset;
    background-color: rgb(240, 243, 229);
}

.h1 {
    padding-top: 20px;
}

.form {
    width: 100%;
    padding-top: 10px !important;
    padding-left: 450px !important;
}

.form_select {
    padding-left: 275px !important;
    margin-bottom: 50px;
}

.form-label {
    font-size: 25px;
    align-items: center;
}

.form-control {
    margin-left: 30px;
    width: 300px !important;
    height: 40px;
}

.button-start {
    align-items: center;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 50px;
    width: 200px;
}

.menubar {
    margin-bottom: 100px;
}

.checkbox_container {
    display: flex;
    flex-flow: row wrap;
}